<%= render :partial => 'clean_navbar' %>
<%= render :partial => 'usernavbar' %>

<h4>Your selection</h4>
<% if current_user.next_donation != nil %>
<br />
  <img src=<%= Charity.find(current_user.next_donation).avatar.url(:medium) %> >
	<%= Charity.find(current_user.next_donation).name %>
	<%= form_tag donate_charity_path do %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

    <div class="field">
    <%= f.label :monthly_payment %><br />
    <%= f.number_field :monthly_payment, autocomplete: "off" %>
  </div>

<% end %>
    <article>
      <label class="amount">
        <span>Amount: $<%= number_with_precision current_user.monthly_payment, precision: 2 %></span>
      </label>
    </article>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= ENV['STRIPE_PUBLIC_KEY'] %>"
            data-description="<%= Charity.find(current_user.next_donation).name %>"
            data-amount="<%= (current_user.monthly_payment * 100).round %>"></script>
  <% end %>

<% end %>