<style>
.carousel-inner > .item > img {
	margin: 0 auto;
}
.carousel-caption {
	position: relative;
	left: auto;
	right: auto;
	color: black;
}
</style>
<%= render :partial => 'clean_navbar' %>
<%= render :partial => 'usernavbar' %>
<% if @results == [] %>
	<h2>You have no established preferences</h2>
<% elsif @results[@i.to_i] != nil %>
<h2>Your matches</h2>
<%= Charity.find(@results[@i.to_i].charity_id).name %>
<br />
<%= link_to "Make next month's charity" , user_next_path(:char_id => @results[@i.to_i].charity_id) %>
<br />
<%= link_to "Next Charity" , user_path(:i => "#{(@i.to_i+1)}") %>
<br />
<% else %>
<h3>You have no more matching charities</h3>
<%= link_to "Back to first result" , user_path(:i => "0") %>
Or:
<br />
<%= link_to " Adjust Your Preferences" , "/categories" %>
<% end %>
<br />
<br />
<h2>Your Preferences</h2>
<div id="prefCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
  	<% @preferences.each_with_index do |preference, index| %>
  		<% if index == 0 %>
  		    <li data-target="prefCarousel" data-slide-to=<%=index%> class="active"></li>
  		<% else %>
  		    <li data-target="prefCarousel" data-slide-to=<%=index%> ></li>
  		<% end %>
    <%end%>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
  <% @preferences.each_with_index do |preference, index| %>
  	<% if index == 0 %>

  	<div class="item active">
  		<img src= <%=Category.find(preference.category_id).avatar.url(:medium) %> alt= <%=Category.find(preference.category_id).title %> >
  		<div class= "carousel-caption">
  		<h3><%=Category.find(preference.category_id).title%></h3>
  		<footer><%= link_to "Remove", preference, method: :delete %></footer>
  		</div>
  	</div>

  	<% else %>

  	 <div class="item">
  		<img src= <%=Category.find(preference.category_id).avatar.url(:medium) %> alt= <%=Category.find(preference.category_id).title %> >
  		<div class= "carousel-caption">
  		<h3><%=Category.find(preference.category_id).title%></h3>
  		<footer><%= link_to "Remove", preference, method: :delete %></footer>
  		</div>
  	</div>
  	<% end %>
  <% end %>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#prefCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#prefCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<br />

