<%= render :partial => 'navbar' %>
<style>
.row{
    margin-right: 0px;
}
.navbar{
    opacity: .95;
}
.col-md-3{
    padding-top: 20px;
}
h1 {
    font-size: 450%;
}
.transparent-text {
    font-size: 150%;
}
h2 {
    color: white;
}
</style>
<div class="welcome_section">
<div class="row">
  <div class="col-md-9 text-left">
      <div class="intro_section">

        <h1 class="intro white-text">Welcome to Impact.</h1>

        <p class="transparent-text">A streamlined platform for automated donations. Donate to charity in a simple and efficient way. Your money, our time.</p>

        <div class="button_hidden">
          <a href="#section2" class="btn btn-primary secondary-button">Learn More</a>
        </div>
      </div>
  </div>
  <div class="col-md-3 pull-right">
    <%= render :partial => 'devise/registrations/sign_in' %>
  </div>
</div>
</div>
<section class="team grey-bg" id="section1">
</br>
</br>
        <div class="container">
            <div class="section-header">
                <h2 class="dark-text"><strong>Team</h2></strong>
                <div class="colored-line">
                </div>
            </div>
            </br>
            <div class="row wow fadeIn" data-wow-offset="10" data-wow-duration="1.75s">

                <div class="col-md-4 col-sm-6">
                    <div class="team-member wow flipInY" data-wow-offset="10" data-wow-duration="1s">
                        <div class="member-pic">
                            <%= image_tag("vijay.jpg", :size => "200x200") %>
                        </div>
                        <div class="member-details">
                            <h5 class="colored-text">Vijay Edupuganti</h5>
                            <div class="small-text">
                                University of Virginia
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="team-member wow flipInY" data-wow-offset="10" data-wow-duration="1s">
                        <div class="member-pic">
                            <%= image_tag("alex.jpg", :size => "200x200") %>
                        </div>
                        <div class="member-details">
                            <h5 class="colored-text">Alex Bailey</h5>
                            <div class="small-text">
                                University of Virginia
                            </div>
                        </div>
                        <ul class="social-icons">
                        </ul>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="team-member wow flipInY" data-wow-offset="10" data-wow-duration="1s">
                        <div class="member-pic">
                            <%= image_tag("max.jpg", :size => "200x200") %>
                        </div>
                        <div class="member-details">
                            <h5 class="colored-text">Max Martin</h5>
                            <div class="small-text">
                                Yale University
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</br>
</br>
<section class="services grey-bg" id="section2">
    <div class="services_section">

        <div class="container">
            <div class="section-header">
                <h2><strong>Automated</strong> Donations</h2>
            </div>
            </br>
                <div class="col-md-4 wow fadeInLeft" data-wow-offset="10" data-wow-duration="1.75s">
                    <div class="single-service border-bottom-hover">
                        <div class="service-icon colored-text">
                            <%= image_tag("users.png", :size => "150x150") %>
                        </div>
                        <h3>Users</h3>
                        <p>
                            Users will be able to set a limit of how much money they want to allot to donate on a monthly basis.
                        </p>
                    </div>
                </div>

                <div class="col-md-4 wow flipInY" data-wow-offset="10" data-wow-duration="1s">
                    <div class="single-service border-bottom-hover">
                        <div class="service-icon colored-text">
                            <%= image_tag("logo_1.gif", :size => "150x150") %>
                        </div>
                        <h3>Impact</h3>
                        <p>
                            Impact will donate the users’ money to charities that are in need based on real world events.
                        </p>
                    </div>
                </div>

                <div class="col-md-4 wow fadeInRight" data-wow-offset="10" data-wow-duration="1.75s">
                    <div class="single-service border-bottom-hover">
                        <div class="service-icon colored-text">
                            <%= image_tag("together.png", :size => "150x150") %>
                        </div>
                        <h3 class="colored-text">Together</h3>
                        <p>
                           Together we ensure that donated money is going to the right charities and has a meaningful impact.
                        </p>
                    </div>
                </div>

            </div>
        </div>
        </div>
    </section>

<section class="contact grey-bg" id="section4">
            <div class="section-header">
                </br></br>
            </div>        
            <div class="container">
            <div class="row contact-links">

                <div class="col-sm-4">
                    <%= image_tag("mail_icon.png", :size => "50x50") %>
                </div>

                <div class="col-sm-4">
                    <%= image_tag("location_icon.png", :size => "50x50") %>
                </div>

                <div class="col-sm-4">
                    <%= image_tag("phone_icon.png", :size => "50x50") %>
                </div>
            </div>
            <div class="row contact-links">

                <div class="col-sm-4">
                    <a href="mailto:vse7fd@virginia.edu" class="strong">vse7fd@virginia.edu</a>
                </div>

                <div class="col-sm-4">
                    <a href="" class="strong">71 Waterkant St Cape Town, SA</a>
                </div>

                <div class="col-sm-4">
                    <a href="tel:503-780-6755" class="strong">503-780-6755</a>
                </div>
            </div>

        </div>
    </div>
    </br>
    </br>

    <div class="map">
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script><div style="overflow:hidden;height:500px;width:600px;"><div id="gmap_canvas" style="height:500px;width:600px;"></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style><a class="google-map-code" href="http://premium-wordpress-themes.org" id="get-map-data">http://premium-wordpress-themes.org</a></div><script type="text/javascript"> function init_map(){var myOptions = {zoom:16,center:new google.maps.LatLng(-33.9187157,18.42016000000001),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById("gmap_canvas"), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(-33.9187157, 18.42016000000001)});infowindow = new google.maps.InfoWindow({content:"<b>Ideas Cartel</b><br/>71 Waterkant<br/> Cape Town" });google.maps.event.addListener(marker, "click", function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
</div>
</section>
    <footer class="footer grey-bg">
        ©2015 Impact. All Rights Reserved
    </footer>
    